.DS_Store
.Rhistory
*donttrack_googlemapapi
donttrack_mapapi
*omemap_logins.json
*access_token.json
cache/
.ipynb_checkpoints/
*.qmd
*.code-workspace
*.geojson
*/cache*
*.py
*.ipynb
.codex
